@media (max-width: 767px) {
  .video {
    display: none !important;
    margin: 10px;
  }
  .img-introduce {
    background-image: url('../../assets/hoian.png');
    height: 400px;
    object-fit: cover;
    display: block !important;
    margin: 10px;
    border-radius: 6px;
    margin: 15px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 376px) {
  .video {
    display: block;
  }
  .img-introduce {
    display: none;
  }
}

.title-introduce {

  text-align: center;
  font-size: 24px;
  color: #fafafa;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;

}
.button-xemngay {
  font-size: 20px;
}

