.container-city-item {
  border-radius: 10px;
  width: 100%;
  height: 330px;
  border-radius: 10px;
  background: #c4c4c4;
  box-shadow: 2px 4px 8px rgba(211, 211, 211, 0.5);
  position: relative;
}
