.outline-button {
  padding: 6px 20px;
  background-color: transparent;
  color: #000000;
  border: 1px solid gray;
  font-size: 18px;
  line-height: 23px;
  border-radius: 4px;
  margin-right: 5px;
}

.button-best-fit {
  padding: 6px 20px;
  background-color: #fc6c85;
  color: #ffffff;
  border: none !important;
  font-size: 18px;
  line-height: 23px;
  border-radius: 4px;
  margin-right: 5px;
}

@media (max-width: 375px) {
  .container-room-view {
    width: 100% !important;
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .container-room-view {
    width: 50% !important;
  }
  .container-img {
    height: 60% !important;
  }
  .container-room-item {
    height: 320px !important;
  }
  .check-show-sale {
    display: none !important;
  }
}
