.swiper-button-prev, .swiper-button-next {

  width: 40px !important;
  height: 40px !important;
  background-color: #FFFFFF!important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px;
  background-image: url("../../assets/prev.png");
  background-repeat: no-repeat;
  background-position: 12px 12px;
}
.swiper-button-next{
  background-image: url("../../assets/next.png") !important;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: '' !important;

}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: '' !important;

}
