.variant-button {
  padding: 6px 20px;
  background-color: #fc6c85;
  color: #ffffff;
  border: none !important;
  font-size: 18px;
  line-height: 23px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.name-home {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #2b2b2b;
}
.convenient-img {
  width: 100px;
  height: 100px;
}

.search-container {
  height: 40px;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0px 0px 4px;
}
.b-search {
  width: 100%;
  background-image: url('../../assets/search.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0px 4px 4px 0px;
  background-color: #fc6c85;
}

.button-search-container {
  width: 10%;
  height: 40px;
}
/*
td:nth-child(1) {
  border-right: 1px solid rgb(61, 60, 60);
  padding: 10px 0px;
  width: 200px;
}*/
.container-table td:nth-child(2) {
  padding-left: 40px;
}

.button-send-email {
  width: 100%;
  background-image: url('../../assets/send.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0px 4px 4px 0px;
  background-color: #fc6c85;
}

.show-compare {
  background-image: url('../../assets/compare.png');
  width: 80px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.button-compare {
  border: none !important;
  background-color: #fc6c85;
  /* padding: 20px; */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #ffffff;
  animation: scalebuton;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes scalebuton {
  /* from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  } */
}

.compare-now :hover {
  cursor: pointer;
}
