.menu {
  box-shadow: 2px 4px 8px rgba(211, 211, 211, 0.5);
  border: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all linear 0.5s;
}

.search-container {
  width: 60%;
  margin-left: 10px;
  height: 40px;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0px 0px 4px;
}

input:focus {
  border: none !important;
}
.search-input {
  width: 100%;
  height: 100%;
  border: none !important;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0px 0px 4px;
  padding-left: 10px;
  font-size: 20px;
}

.button-search {
  width: 100%;
  background-image: url('../../assets/search.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0px 4px 4px 0px;
  background-color: #fc6c85;
}

.button-search-container {
  width: 10%;
  height: 40px;
}

.MuiPaper-elevation1 {
  border-radius: 4px 4px 6px 6px !important;
  box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.25) !important;
  background: #fafafa !important;
}
