.right-section {
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  padding: 26px 34px;
  height: fit-content;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.sub-title1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.sub-title2 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 9px;
  color: #000000;
}

.sub-title3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
  align-items: center;
  margin-top: 74px;
  color: #000000;
}

.sub-title4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.container-content1 {
  background: rgba(196, 196, 196, 0.2);
  height: 133px;
  display: flex;
  align-items: center;
}

.content1 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
}

.checkin-checkout {
  display: flex;
  flex-direction: row;
}

.checkin {
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 155px;
  height: 64px;
  padding-left: 4px;
}

.checkin-line {
  background-color: #0008c2;
  height: 1px;
  width: 72.14px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.checkin-title {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  align-items: center;

  color: #000000;
}

.checkin-date {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
  margin: 0;
  color: #000000;
}

.checkin-day {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  align-items: center;

  color: #000000;
}

.form {
  margin-bottom: 46px;
}

.form-field {
  margin-bottom: 18px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.input {
  padding: 9px 12px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 100%;
}

.coupon {
  display: flex;
  margin-bottom: 46px;
  position: relative;
}

.button1 {
  padding: 5px;
  right: 0;
  position: absolute;
  background: #fc6c85;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button2 {
  padding: 5px;
  background: #fc6c85;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button2:hover{
  cursor: pointer;
}
.location {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}

.avatar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 30px;
  margin-bottom: 7px;
}

.homestay-name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

.customer-section {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 12px;
  margin-bottom: 7px;
}

.daterange {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}

.people {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}

.fee-section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1px;
  margin-bottom: 7px;
}

.fee-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.fee-name {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.fee-price {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: right;
  color: #000000;
}

.rule {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}
