.payment-right-section {
  border: 1px solid rgba(150, 150, 150, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 26px 34px;
  height: fit-content;
}

.payment-top-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.payment-sub-title1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.payment-sub-title2 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 9px;
  color: rgba(43, 43, 43, 0.6);
}

.payment-sub-title3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
  align-items: center;
  margin-top: 74px;
  color: #000000;
}

.payment-sub-title4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.payment-container-content1 {
  display: flex;
  flex-direction: column;
  background: rgba(196, 196, 196, 0.2);
  display: flex;
  justify-items: center;
  padding: 20px 15px;
}

.payment-content1 {
  font-size: 18px;
  line-height: 23px;
  color: rgba(43, 43, 43, 0.6);
}

.payment-checkin-checkout {
  display: flex;
  flex-direction: row;
}

.payment-checkin {
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 155px;
  height: 64px;
  padding-left: 4px;
}

.payment-checkin-line {
  background-color: #0008c2;
  height: 2px;
  width: 72.14px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.payment-checkin-title {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  align-items: center;

  color: #000000;
}

.payment-checkin-date {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
  margin: 0;
  color: #000000;
}

.payment-checkin-day {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  align-items: center;

  color: #000000;
}

.payment-form {
  margin-bottom: 46px;
}

.payment-form-field {
  margin-bottom: 18px;
}

.payment-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.payment-input {
  padding: 5px 15px;
  background: #ffffff;
  border: 1px solid #969696;
  border-radius: 4px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 100%;
}

.payment-coupon {
  display: flex;
  margin-bottom: 46px;
  position: relative;
}

.payment-button1 {
  padding: 10px;
  right: 0;
  position: absolute;
  background: #fc6c85;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.payment-button2 {
  width: 100%;
  padding: 10px;
  background: #fc6c85;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.payment-button2:hover {
  cursor: pointer;
}
.payment-location {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}

.payment-avatar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 30px;
  margin-bottom: 7px;
}

.payment-homestay-name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

.payment-customer-section {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 12px;
  margin-bottom: 7px;
}

.payment-daterange {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}

.payment-people {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}

.payment-fee-section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1px;
  margin-bottom: 7px;
}

.payment-fee-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.payment-fee-name {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.payment-fee-price {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: right;
  color: #000000;
}

.payment-rule {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
}
