@media (max-width: 375px) {
  .container-room-view {
    width: 100% !important;
  }
  .container-room-item {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border: none !important;
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .container-room-view {
    width: 50% !important;
  }
  .container-img {
    height: 60% !important;
  }
  .container-room-item {
    height: 320px !important;
  }
  .check-show-sale {
    display: none !important;
  }
}
