.container-room-item {
  width: 250px;
  height: 375px;
  background: #ffffff;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0px 0px;
}

.container-room-item .swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

.container-room-item .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '' !important;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '' !important;
}
