.container-room-item {
  /* min-width: 140px;
  max-width: 300px;
  min-height: 154px;
  max-height: 330px; */

  /* min-width: 160px;
  max-width: 290px; */
  width: 98%;
  /* max-height: 380px;
  min-height: 230px; */
  height: 300px;
  /* height: 100%;
width: 100%; */
  margin: 5px;
  background: #ffffff;
  border: 1px solid rgba(150, 150, 150, 0.45);
  border-radius: 6px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
  /* border-radius: 4px 4px 0px 0px; */
}

/* Màn hình máy tính */
/* @media (min-width: 1025px) { */
/* .container-room-item {
    width: 270px;
    height: 297px;
    margin: 10px;
  }
  .container-img {
    width: 100%;
    height: 50%;
    margin-bottom: 35px;
  } */
/* } */

/* Màn hình điện thoại */
/* @media (min-width: 360px) and (max-width: 767px) { */
/* .container-room-item {
    width: 300px;
    height: 320px;
    margin: 10px;
  }

  .container-img {
    width: 100%;
    height: 50%;
    margin-bottom: 35px !important;
  } */
/* } */

/* iphone 5 */
/* @media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .container-room-item {
    width: 320px;
    height: 320px;
    margin: 10px;
  }
} */

/* Màn hình Ipad */
/* @media (min-width: 768px) and (max-width: 1023px) { */
/* .container-room-item {
    width: 335px;
    height: 340px;
    margin: 10px;
  }

  .container-img {
    width: 100%;
    height: 50% !important;
    margin-bottom: 45px !important;
  } */
/* } */

/* màn hình ipad pro */
/* @media (min-width: 1024px) and (max-width: 1025px) { */
/* .container-room-item {
    width: 300px;
    height: 335px;
    margin: 5px;
  }

  .container-img {
    width: 100%;
    height: 50% !important;
    margin-bottom: 25px !important;

  } */
/* } */
.container-room-item .swiper-button-prev {
  width: 26px !important;
  height: 26px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
}

.container-room-item .swiper-button-next {
  width: 26px !important;
  height: 26px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 7px 6px;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '' !important;
}

.container-img {
  width: 100%;
  position: relative;
  display: flex;
  /* padding: 4px; */
  border-radius: 4px;
  height: 60%;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '' !important;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
.container-img:hover .swiper-button-next {
  display: block !important;
}
.container-img:hover .swiper-button-prev {
  display: block !important;
}
.container-room-item :hover {
  cursor: pointer;
}

.swiper-container {
  height: 100%;
}

.province {
  background-image: linear-gradient(270deg, #E96D71 -0.56%, #FAD7A1 100%);;
  border-radius: 10px;
  padding: 3px 6px;
  color: #ffffff;
  font-size: 12px;
  margin-right: 5px;
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: 10;
}

.sale {
  /* background-color: rgba(250, 250, 250, 0.8); */
  /* border-radius: 10px; */
  background-image: linear-gradient(270deg, #e96d71 -0.56%, #fad7a1 100%);
  padding: 3px 6px;
  color: #2b2b2b;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 10;
  color: #fafafa;
  font-size: 12px;
  border-radius: 2px;
}



.showMore {
  margin-top: 10px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  display: -webkit-box;
}

.compare-function {
  color: rgba(252, 108, 133, 1);
}

.compare-function:hover {
  text-decoration: underline;
}

.container-room-item .swiper-button-next {
  background-size: 13px !important;
}

.container-room-item .swiper-button-prev {
  background-size: 13px !important;
}
