@font-face {
  font-family: 'Harmonia';
  src: local('Harmonia') url(./fonts/Harmonia-Regular.ttf) format('truetype');
}

body {
  font-family: Harmonia;
}
textarea:focus,
input:focus {
  outline: none;
}
