@font-face {
  font-family: 'Harmonia';
  src: local('RV Harmonia'), url(./fonts/Harmonia-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Harmonia';
  src: local('RV Harmonia'), url(./fonts/Harmonia-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Harmonia';
  src: local('RV Harmonia'), url(./fonts/Harmonia-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Harmonia';
  src: local('RV Harmonia'), url(./fonts/Harmonia-SemiBold.ttf) format('truetype');
}

body {
  font-family: Harmonia;
}
textarea:focus,
input:focus {
  outline: none;
}
