@font-face {
  font-family: 'RV Harmonia';
  src: local('RV Harmonia'), url(./fonts/Harmonia-Regular.ttf) format('truetype');
}

* {
  font-family: RV Harmonia;
}
textarea:focus,
input:focus {
  outline: none;
}
